#Visualização de Variáveis e textos

In [ ]:
print("Conhecendo o somando print")

x = 8
print(x)

Conhecendo o somando print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = "Erick Nakamura"
print(nome)

##Concatenação

In [ ]:
x = 5
print("O valor de x é ", x)

O valor de x é  5

In [ ]:
print("O valor de x é", x, "e o dobro é", x * 2)

In [ ]:
print("Eu,", nome, "tirei", x, "na prova de Python")

In [ ]:
y = 10; z = 20 + x - y
print("Declarar várias variáveis na mesma linha:", y, z)

Declarar várias variáveis na mesma linha: 10 15

##Type

In [ ]:
x = 10
type(x)
print("x", type(x))

nome = "Erick"
print("nome", type(nome))

num = "100"
num_convert = int(num)    #Converter variável
print("num", type(num))
print("num_convert", type(num_convert))

num_float = float(num)
print("num_float", type(num_float), num_float)

##Input


*   Armazenar a informação digitada pelo usuário em uma variável
*   O dado armazenado sempre será um texto

In [1]:
nome = input("Digite o nome do usuário ")    #E aguarde o usuário digitar algo
print(nome)

Digite o nome do usuário Erick
Erick

In [2]:
valor = input("Digite a nota ")
print(nome, "sua nota foi", valor)

Digite a nota 9
Erick sua nota foi 9

In [ ]:
valor = input("Digite o valor do produto: ")
print(valor)

In [ ]:
desconto = valor - 5    #Aqui mostra o erro de Type

In [ ]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

In [ ]:
desconto = int(valor) - 5
print(desconto)